<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Urban by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
		<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">Repeat <span>Gifts</span></a></div>
				<a href="#menu">Menu</a>
			</header>

                <!-- Nav -->
                        <nav id="menu">
                                <ul class="links">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                        <li><a href="/giftform">Sample Form</a></li>
                                </ul>
                        </nav>

		<!-- Main -->
			<div id="main">
		<!-- Section -->
			<section class="wrapper style1">
				<div class="inner">

				<!-- Form -->
					<header class="align-center">
						<h2>Tell us how to make the perfect gift</h2>
					</header>
                                        
					<div class="flex flex">
					<div class="col align-center">
					<p> </p>
					</div>
					<div class="col align-center">
					<form method="post" action="#">
						<div class="row uniform">
                                                        <div class="6u 12u$(xsmall)">
                                                                <input type="text" name="first_name" id="first_name" value="" placeholder="First Name" />
                                                        </div>
							<div class="6u$ 12u$(xsmall)">
								<input type="text" name="last_name" id="last_name" value="" placeholder="Last Name" />
							</div>
							<div class="6u 12u$(xsmall)">
								<input type="email" name="email" id="email" value="" placeholder="Email" />
							</div>
                                                        <div class="6u$ 12u$(xsmall)">
                                                                <input type="text" name="nickname" id="nickname" value="" placeholder="Nickname" />
                                                        </div>
							<div class="12u$">
                                                                <input type="text" name="street_address" id="street_address" value="" placeholder="Street Address" />
                                                        </div>
                                                        <div class="6u 12u$(xsmall)">
                                                                <input type="text" name="city" id="city" value="" placeholder="City" />
                                                        </div>
                                                        <div class="6u$ 12u$(xsmall)">
                                                                <input type="text" name="zip_code" id="zip_code" value="" placeholder="Zip Code" />
                                                        </div>
							<!-- Break -->
							<div class="4u 12u$(small)">
								<input type="radio" id="gender-female" name="gender">
								<label for="gender-female">Female</label>
							</div>
							<div class="4u 12u$(small)">
								<input type="radio" id="gender-male" name="gender">
								<label for="gender-male">Male</label>
							</div>
                                                        <div class="4u 12u$(small)">
                                                                <input type="radio" id="gender-na" name="gender" checked>
                                                                <label for="gender-na">None of Your D*** Business</label>
                                                        </div>
							<!-- Break -->
							<div class="12u$">
								<div class="select-wrapper">
									<select name="preferences1" id="preferences1">
										<option value="">- Preferences -</option>
										<option value="1">Arts & Crafts</option>
										<option value="1">Automotive</option>
										<option value="1">Baby Toys</option>
										<option value="1">Beauty</option>
										<option value="1">Books</option>
										<option value="1">Cloths & Shoes</option>
										<option value="1">Computers</option>
										<option value="1">Cooking & Baking</option>
										<option value="1">Craft Beer</option>
										<option value="1">Etsy Crafts</option>
										<option value="1">Gourment Foods</option>
										<option value="1">Grilling</option>
										<option value="1">Guns & Hunting</option>
										<option value="1">Homeade</option>
										<option value="1">Health & Fitness</option>
										<option value="1">Home & Kitchen</option>
										<option value="1">Jewelry</option>
										<option value="1">Movies</option>
										<option value="1">Music</option>
										<option value="1">Pets-Cat</option>
										<option value="1">Pets-Dog</option>
										<option value="1">Photography</option>
										<option value="1">Programming</option>
										<option value="1">Sewing</option>
										<option value="1">Shoes</option>
										<option value="1">Sports</option>
										<option value="1">Travel Accessories</option>
										<option value="1">Video Games</option>
										<option value="1">Wine & Spirits</option>
										<option value="1">Woodworking</option>
									</select>
								</div>
							</div>
							
							<!-- Break -->
							<div class="12u$">
								<div class="select-wrapper">
									<select name="preferences2" id="preferences2">
										<option value="">- Preferences -</option>
										<option value="1">Arts & Crafts</option>
										<option value="1">Automotive</option>
										<option value="1">Baby Toys</option>
										<option value="1">Beauty</option>
										<option value="1">Books</option>
										<option value="1">Cloths & Shoes</option>
										<option value="1">Computers</option>
										<option value="1">Cooking & Baking</option>
										<option value="1">Craft Beer</option>
										<option value="1">Etsy Crafts</option>
										<option value="1">Gourment Foods</option>
										<option value="1">Grilling</option>
										<option value="1">Guns & Hunting</option>
										<option value="1">Homeade</option>
										<option value="1">Health & Fitness</option>
										<option value="1">Home & Kitchen</option>
										<option value="1">Jewelry</option>
										<option value="1">Movies</option>
										<option value="1">Music</option>
										<option value="1">Pets-Cat</option>
										<option value="1">Pets-Dog</option>
										<option value="1">Photography</option>
										<option value="1">Programming</option>
										<option value="1">Sewing</option>
										<option value="1">Shoes</option>
										<option value="1">Sports</option>
										<option value="1">Travel Accessories</option>
										<option value="1">Video Games</option>
										<option value="1">Wine & Spirits</option>
										<option value="1">Woodworking</option>
									</select>
								</div>
							</div>

							<!-- Break -->
							<div class="12u$">
								<div class="select-wrapper">
									<select name="preferences3" id="preferences3">
										<option value="">- Preferences -</option>
										<option value="1">Arts & Crafts</option>
										<option value="1">Automotive</option>
										<option value="1">Baby Toys</option>
										<option value="1">Beauty</option>
										<option value="1">Books</option>
										<option value="1">Cloths & Shoes</option>
										<option value="1">Computers</option>
										<option value="1">Cooking & Baking</option>
										<option value="1">Craft Beer</option>
										<option value="1">Etsy Crafts</option>
										<option value="1">Gourment Foods</option>
										<option value="1">Grilling</option>
										<option value="1">Guns & Hunting</option>
										<option value="1">Homeade</option>
										<option value="1">Health & Fitness</option>
										<option value="1">Home & Kitchen</option>
										<option value="1">Jewelry</option>
										<option value="1">Movies</option>
										<option value="1">Music</option>
										<option value="1">Pets-Cat</option>
										<option value="1">Pets-Dog</option>
										<option value="1">Photography</option>
										<option value="1">Programming</option>
										<option value="1">Sewing</option>
										<option value="1">Shoes</option>
										<option value="1">Sports</option>
										<option value="1">Travel Accessories</option>
										<option value="1">Video Games</option>
										<option value="1">Wine & Spirits</option>
										<option value="1">Woodworking</option>
									</select>
								</div>
							</div>

							<!-- Break -->
							<div class="12u$">
								<div class="select-wrapper">
									<select name="preferences4" id="preferences4">
										<option value="">- Preferences -</option>
										<option value="1">Arts & Crafts</option>
										<option value="1">Automotive</option>
										<option value="1">Baby Toys</option>
										<option value="1">Beauty</option>
										<option value="1">Books</option>
										<option value="1">Cloths & Shoes</option>
										<option value="1">Computers</option>
										<option value="1">Cooking & Baking</option>
										<option value="1">Craft Beer</option>
										<option value="1">Etsy Crafts</option>
										<option value="1">Gourment Foods</option>
										<option value="1">Grilling</option>
										<option value="1">Guns & Hunting</option>
										<option value="1">Homeade</option>
										<option value="1">Health & Fitness</option>
										<option value="1">Home & Kitchen</option>
										<option value="1">Jewelry</option>
										<option value="1">Movies</option>
										<option value="1">Music</option>
										<option value="1">Pets-Cat</option>
										<option value="1">Pets-Dog</option>
										<option value="1">Photography</option>
										<option value="1">Programming</option>
										<option value="1">Sewing</option>
										<option value="1">Shoes</option>
										<option value="1">Sports</option>
										<option value="1">Travel Accessories</option>
										<option value="1">Video Games</option>
										<option value="1">Wine & Spirits</option>
										<option value="1">Woodworking</option>
									</select>
								</div>
							</div>
							
							<!-- Break -->
							<div class="12u$">
								<div class="select-wrapper">
									<select name="preferences5" id="preferences5">
										<option value="">- Preferences -</option>
										<option value="1">Arts & Crafts</option>
										<option value="1">Automotive</option>
										<option value="1">Baby Toys</option>
										<option value="1">Beauty</option>
										<option value="1">Books</option>
										<option value="1">Cloths & Shoes</option>
										<option value="1">Computers</option>
										<option value="1">Cooking & Baking</option>
										<option value="1">Craft Beer</option>
										<option value="1">Etsy Crafts</option>
										<option value="1">Gourment Foods</option>
										<option value="1">Grilling</option>
										<option value="1">Guns & Hunting</option>
										<option value="1">Homeade</option>
										<option value="1">Health & Fitness</option>
										<option value="1">Home & Kitchen</option>
										<option value="1">Jewelry</option>
										<option value="1">Movies</option>
										<option value="1">Music</option>
										<option value="1">Pets-Cat</option>
										<option value="1">Pets-Dog</option>
										<option value="1">Photography</option>
										<option value="1">Programming</option>
										<option value="1">Sewing</option>
										<option value="1">Shoes</option>
										<option value="1">Sports</option>
										<option value="1">Travel Accessories</option>
										<option value="1">Video Games</option>
										<option value="1">Wine & Spirits</option>
										<option value="1">Woodworking</option>
									</select>
								</div>
							</div>
							
							<!-- Break -->
							<div class="12u$">
								<p>Allergies, dislikes, superheroes they want to punch?</p>
								<textarea name="message" id="message" placeholder="Enter your message" rows="2"></textarea>
							</div>

                                                        <!-- Break -->
                                                        <div class="12u$">
                                                                <p>Did we miss something? Anything more specific to help us out?</p>
                                                                <textarea name="message" id="message" placeholder="Enter your message" rows="4"></textarea>
                                                        </div>

							<!-- Break -->
							<div class="6u 12u$(small)">
								<input type="checkbox" id="copy" name="copy">
								<label for="copy">Email me a copy of this message</label>
							</div>
							<div class="6u$ 12u$(small)">
								<input type="checkbox" id="human" name="human" checked>
								<label for="human">I am a human and not a robot</label>
							</div>
							
							<!-- Break -->
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Submit Preferences" /></li>
									<li><input type="reset" value="Reset" class="alt" /></li>
								</ul>
							</div>
						</div>
					</form>

					<hr />

					</div>
                                        <div class="col align-center">
                                        <p> </p>
                                        </div>
					</div>
			</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Repeat Gifts. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
