<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">Repeat <span>Gifts</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/giftform">Sample Form</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Repeat Gifts</h1>
						<p>Never miss an important gift giving occassion again<br /> with automated, bespoke gifts</p>
					</header>
					<a href="/signup" class="button big scrolly">Sign Up</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Procrastinator? Forgetful?</h2>
								<p>Stop flipping through Amazon last minute trying to find a half-assed gift. Our gifts are guaranteed to arrive on time, every Birthday, every Mother's Day, or it's on us.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/picture_frame.jpg" alt="" />
									</div>
									<p>Sync with your Facebook, Instagram, or email to help us create thoughtful framed photos of pets, adventures, family, and cherished memories.</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/wine.jpg" alt="" />
									</div>
									<p>Three tiers of gift packages available, as well as customizable content, pricing, and frequency; from wine to tinker toys we've got you covered.</p>
									<a href="/signup" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/jewelry_box.jpg" alt="" />
									</div>
									<p>Handwritten cards, wrapping, personalized gifts for any budget. Stop apologizing for being a forgetful ass, we make it easy.</p>
								</div>
							</div>
						</div>
					</section>

			</div>
                                <!-- Section -->
                                        <section class="wrapper style1">
                                                <div class="inner">
                                                        <!-- 2 Columns -->
                                                                <div class="flex flex-2">
                                                                        <div class="col col1">
                                                                                <div class="image round fit">
                                                                                        <a href="/generic" class="link"><img src="static/images/checklist.jpg" alt="" /></a>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col col2">
                                                                          <h3>Simple Survey Yields Great Gifts</h3>
                                                                          <p>Fill out a short survey on likes, dislikes, allergies, and other useful factoids.</p>
                                                                          <p>Optionally provide pictures or attach your Facebook/Instagram.
                                                                          <p>Let us know what dates, occassions, and holidays you need help with.</p>
                                                                          <p>Customize your budget any way you'd like.</p>
                                                                          <p>We make a gifts your loved ones will never forget.</p>
                                                                          <a href="/giftforms" class="button">Get Started</a>
                                                                        </div>
                                                                </div>
                                                </div>
                                        </section>


		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Repeat Gifts. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash, PixaBay</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
