<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
        <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="static/css/main.css" />
        </head>
        <body>

           <div data-type="countdown" data-id="225389" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/225389/repeat-gifts-beta-launch" title="Repeat Gifts Beta Launch">Repeat Gifts Beta Launch</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script> 
	        <!-- Banner -->
                        <section id="banner">
                                <div class="inner">
                                        <header>
                                                <h1>Repeat Gifts</h1>
                                                <p>Never miss an important gift giving occassion again<br /> with automated, bespoke gifts</p>
                                        </header>
                                        <a href="/" class="button big scrolly">Back Home</a>
                                </div>
                        </section>


		<!-- Footer -->
		<footer id="footer">
		<div class="copyright">
		&copy; Repeat Gifts. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
		</div>
		</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>
